<style>
  footer {
    width: 100%;
    height: 5vh;
    background: linear-gradient(#012334, #021F4A);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
  .social-links{
    list-style: none;
    align-self: center;
    display: flex;
    margin: 0;
  }
  .social-links li a{
    text-decoration: none;
    color: #F5F5F5;
    padding: 15px;
  }
  .social-links li a:hover {
    color: #0F5A80;
  }
  .cprght {
    color: #F5F5F5;
    font-size: 13px;
    align-self: flex-end;
  }
</style>

<footer>
  <span class="cprght">CRUD Clubes by AChareun for r/argentina/programa</span>
  <ul class="social-links">
  <li><a target="_blank" href="https://github.com/achareun">GitHub</a></li>
  <li><a target="_blank" href="https://www.linkedin.com/in/achareun/">LinkedIn</a></li>
  <li><a target="_blank" href="https://twitter.com/AChareun">Twitter</a></li>
  </ul>
</footer>