<style>
  header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    background: linear-gradient(#012334, #021F4A);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .nav-link {
    font-weight: bold;
    text-decoration: none;
    color: #F5F5F5;
    padding: 3.5vh;
    margin: 0;
  }
  .nav-link:hover {
    background: #0F5A80;
    border-bottom: solid #F5F5F5 1px;
  }

  .header-title {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: #F5F5F5;
    padding: 15px;
    margin: 0;
  }
  .header-title p {
    margin: 0;
  }

</style>


<header>
  <a class="header-title" href="/"><p>CRUD CLUBS</p></a>
  <ul class="navbar">
    <li><a class="nav-link" href="/club-list">CLUBS</a></li>
    <li><a class="nav-link" href="/add-club">ADD A CLUB</a></li>
  </ul>
</header>