<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CRUD CLUBS</title>
    <link rel="stylesheet" href="/css/{{style}}">
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
</body>
</html>