<main>
  <h1 class="home-title">Welcome to CRUD-CLUBS</h1>
  <p class="home-description">This is a monolitic webapp to Create, Retrieve, Update or Delete Football Clubs from England.</p>
  <p class="home-description">It's a project that serves as an introduction to Node and other Backend tech for the <a href="https://argentinaprograma.com/">r/argentinaprograma fullstack webdev course</a>.</p>
</main>