body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #F5F5F5;
  margin: 0;
  width: 100%;
  height: 100vh;
}

main {
  margin: 10vh 0 5vh 0;
  width: 100%;
  height: 100%;
}

.view-title {
  align-self: center;
  padding: 10px;
}

.add-club-form {
  width: 30vw;
  height: auto;
  align-self: center;
  padding: 10px;
}
.add-club-form form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
.add-club-form label {
  padding: 5px;
}
#submit-club {
  place-self: center stretch;
}
